/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
	--color-win: #78cf82;
	--color-lose: #d94545;
	--color-start: #5b85b7;
	--color-neutral: #445069;
	--color-neutral-light: #abb1cf8c;
	--color-keys: #37474f;
	--color-keys-light: #e5e5e5;
	--font-size-large: 55px;
	--font-size-medium: 30px;
	--transition: all 0.2s ease-in-out;
}

/* main */

* {
	box-sizing: border-box;
}

body {
	justify-content: space-evenly;
	flex-direction: column;
	display: flex;
	height: 100vh;
}

li,
ol,
ul {
	padding: 0;
	display: inline-block;
}

a {
	cursor: pointer;
	font-family: monospace;
}

h2 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Sriracha';
	font-size: var(--font-size-large);
	margin: 0;
}

button {
	width: 2em;
	margin: 6px;
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	color: var(--color-keys);
	font-size: var(--font-size-medium);
	background-color: var(--color-keys-light);
	border-radius: 5px;
	-webkit-transition: var(--transition);
	-o-transition: var(--transition);
	transition: var(--transition);
	cursor: pointer;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	max-height: 900px;
	text-align: center;
}

.section {
	width: 100%;
	padding: 10px;
}

/* Title */

.header {
	color: var(--color-start);
}

/* Phrase */

.letter {
	font-family: 'Baloo Tamma 2';
	font-size: 40px;
	height: 80px;
	width: 80px;
	padding: 10px 1px 22px 1px;
	margin: 5px 1.5px;
	color: transparent;
	background: var(--color-neutral-light);
	border-radius: 5px;
}

.space {
	width: 15px;
}

.show {
	color: var(--color-keys);
	background-color: #b4cdfd;
}

/* Keyboard */

.keyrow {
	display: flex;
	justify-content: center;
}

.chosen {
	background: var(--color-neutral);
	border-radius: 5px;
	font-size: var(--font-size-medium);
	color: #ffffff;
}

.btn__reset {
	padding: 8px 15px;
	margin: 50px auto;
	background: #ffffff;
	border-radius: 5px;
	font-size: var(--font-size-medium);
}

.tries,
.lost-tries {
	margin: 0 2px;
}
/* Overlay */

#overlay {
	display: flex;
	flex-direction: column;
	position: fixed;
	color: #ffffff;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 5px;
	z-index: 10;
}

.title {
	color: #fff;
}

.start {
	background-color: var(--color-start);
	transition: all 3s;
}

.start a {
	color: var(--color-start);
}

.win {
	background-color: var(--color-win);
	animation-delay: 2s;
}

.win a {
	color: var(--color-win);
}

.lose {
	background-color: var(--color-lose);
	animation-delay: 1s;
}

.lose a {
	color: var(--color-lose);
}

/* Animations */
.slide-up {
	animation-name: slideup;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.slide-down {
	animation-name: slidedown;
	animation-duration: 1s;
	animation-fill-mode: backwards;
}

.flip {
	animation: flip 0.6s ease-out;
}

@keyframes slideup {
	100% {
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes slidedown {
	0% {
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes flip {
	0% {
		transform: perspective(400px) rotate3d(0, 1, 0, 270deg);
		/* opacity: 0; */
	}
	70% {
		transform: perspective(400px) rotate3d(0, 1, 0, 380deg);
	}

	100% {
		transform: perspective(400px) rotate3d(0, 1, 0, 360deg);
		opacity: 1;
	}
}
